@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Metal+Mania&display=swap');

$color-primario: #212121;
$color-primario-light: #484848;
$color-primario-dark: #000000;

$color-secundario: #bcbcbc;
$color-secundario-light: #eeeeee;
$color-secundario-dark: #8c8c8c;

$text-color-white: #ffffff;
$text-color-black: #000000;

$font-titulos-h1: 'Metal Mania', cursive;
$font-contenido: 'Amiri', serif;
$font-contenido-titulos: 'Amiri', serif;
$size-font-h1: 64px;
$size-font-contenido: 15px;
$size-contenido-titulos: 20px;


/* Estilos del header */

body {
	font-family: $font-contenido;
	margin: 0;
	padding: 0;
}
.sidenav{
  font-family: $font-contenido;
  font-size: $size-font-contenido;
}
.right{
  font-family: $font-contenido;
  font-size: $size-font-contenido;
}

.modal-trigger{
  color: $text-color-white;
}

header {
	background-color: $color-primario;
	color: $text-color-white;
	padding: 20px;
  font-family: $font-contenido;
  font-size: $size-font-contenido;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: $text-color-white;
	text-decoration: none;
}

h1{
  font-family: $font-titulos-h1;
  font-size: $size-font-h1;
}

// Estilos del footer
footer {
    background-color: $color-primario;
    color: $text-color-white;
    padding: 20px;
    text-align: center;
    font-size: $size-font-contenido;
    font-family: $font-contenido;
  }
  
  .contenido-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .contenido-footer p {
    flex: 1;
    margin: 0;
  }
  
  .contenido-footer ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .contenido-footer li {
    margin: 0 10px;
  }
  
  .contenido-footer a {
    color: $text-color-white;
    text-decoration: none;
  }
  
  // Estilos responsive con media queries para el footer
  @media (max-width: 767px) {
    footer {
      font-size: 12px;
      font-family: $font-contenido;
    }
    
    .contenido-footer {
      flex-direction: column;
    }
    
    .contenido-footer p {
      margin-bottom: 10px;
    }
    
    .contenido-footer ul {
      margin-top: 10px;
    }
    
    .contenido-footer li {
      margin: 0;
    }
  }

  a:visited {
    color: $text-color-white; /* Cambiar por el color deseado */
  }

  a{
    color: $text-color-white;
  }

  .brand-logo{
    img {
        margin-top: 6px;
        max-width: 50px;
        height: auto;
      }
  }

  .icon-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    width: auto;
    height: auto;
  }
  .icon-button i {
    font-size: 10px;
    color: $text-color-white; /* color del icono */
  }

// Estilos que afectarán al diseño del cuerpo de nuestra página
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $color-primario;
  }
  // Estilos sobre el contendor de tarjetas
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border: 1px solid $color-secundario;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .card-body {
    padding: 20px;
    text-align: center;
    background-color: $color-secundario;
    font-family: $font-contenido;
    font-size: $size-font-contenido;
    h3{
      font-family: $font-contenido;
      font-size: $size-contenido-titulos;
    }
  }
  p {
    margin-bottom: 20px;
  }
  button {
    background-color: $color-primario-light;
    border: none;
    color: $text-color-white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
 
  // Estilos responsives con media queries para que el contendor de tarjetas sea responsive
  @media only screen and (max-width: 768px) {
    .card-container {
      flex-direction: column;
    }
    .card {
      width: 100%;
    }
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  
  // Estilos responsive con media queries para las imágenes de las tarjetas
  @media (min-width: 768px) {
    .card img {
      width: 350px;
      height: 400px;
    }
  }
  .card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: $color-secundario;
   
  }
  
  @media (min-width: 768px) {
    .card {
      max-width: 350px; /* volver al ancho máximo de 650px para pantallas más grandes */
      
    }
  }

  .titulo{
    display: flex;
    justify-content: center;
  }