html{
    background-color: #fafafa;
}
h1, h2, h3{
    background-color: #668a4c;
}

.container1>ul{ 
  list-style-type: none;     
  overflow: hidden;
  display:flex;
  justify-content:space-between;
}
.container1{
  background-color: #668a4c;
}
.Tema a{
  color:black;
}
.Tema a:link {
  text-decoration: none;
}
.Tema a:visited {
  text-decoration: none;
}

/*  
  <color name="primaryColor">#668a4c</color>
  <color name="primaryLightColor">#95ba79</color>
  <color name="primaryDarkColor">#395d22</color>
  <color name="secondaryColor">#795548</color>
  <color name="secondaryLightColor">#a98274</color>
  <color name="secondaryDarkColor">#4b2c20</color>
  <color name="primaryTextColor">#000000</color>
  <color name="secondaryTextColor">#ffffff</color>
*/
 