<h1>Galería de imágenes utilizando propiedad Flex</h1>

<div class = "flex-container">

<div><img src = "https://cdn.pixabay.com/photo/2015/01/12/05/54/saint-basils-cathedral-597022_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2017/02/21/12/41/venice-2085860_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2015/09/09/21/33/vienna-933500_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2018/08/18/22/10/belgium-3615566_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2021/02/01/19/14/vintage-5971661_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2013/08/31/12/19/bosco-177815_960_720.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2013/01/05/21/02/art-74050_640.jpg"></div>
<div><img src = "https://cdn.pixabay.com/photo/2017/08/07/10/05/neuschwanstein-2602208_640.jpg"></div>

<!-- Imagen responsive -->
<!-- <picture>
  <source media="(min-width: 800px)" srcset="https://cdn.pixabay.com/photo/2015/01/12/05/54/saint-basils-cathedral-597022_960_720.jpg, https://cdn.pixabay.com/photo/2017/02/21/12/41/venice-2085860_960_720.jpg 2x">
  <img src="https://cdn.pixabay.com/photo/2018/08/18/22/10/belgium-3615566_960_720.jpg" srcset="https://cdn.pixabay.com/photo/2021/02/01/19/14/vintage-5971661_960_720.jpg 2x">
</picture> -->

</div>
